/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: block;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

@-webkit-keyframes blinker1 {
    from {opacity: 1.0;}
    to {opacity: 0.3;}
  }

@-webkit-keyframes blinker2 {
    from {opacity: 0.3;}
    to {opacity: 1.0;}
  }
  #code, #brush{
      text-decoration: blink;
      -webkit-animation-name: blinker1;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }

  #brush{
    text-decoration: blink;
    -webkit-animation-name: blinker2;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}


body:hover .section-2 {
    display: block; 
    -webkit-animation: slide-down1 .3s ease-out;
    -moz-animation: slide-down1 .3s ease-out;
}

body:hover .grid-2 {
    display: grid; 
    
}

body:hover .section-1 {
    -webkit-animation: slide-down2 .3s ease-out;
    -moz-animation: slide-down2 .3s ease-out;
}

@-webkit-keyframes slide-down1 {
    0% { opacity: 0; -webkit-transform: translateX(-100%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-down1 {
    0% { opacity: 0; -moz-transform: translateX(-100%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}

@-webkit-keyframes slide-down2 {
    0% { opacity: 0; -webkit-transform: translateX(50%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-down2 {
    0% { opacity: 0; -moz-transform: translateX(50%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}

body { 
    opacity: 0; 
    transition: opacity 5s; 
}

h2{
    color: #fff;
}

.white{
    color: lightgray;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1 {
    padding-top: 30vh;
    /* padding-left: 20vw; */
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2 {
    padding-top: 7vh;
    width: 80%;
    display: none;
}

.section-2 h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: lightgray;
}

.section-2 p{
    font-size: 1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 #sub {
    color: #c1bfbf;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 200px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* .white:hover{
    position: relative;
    padding-left: 10px;
} */

hr#hr-mobile {
    display: none;
}
/* media queres */
@media(max-width:780px){
    hr#hr-mobile {
        margin-bottom: 2rem;
        display: block;
    }
    .grid-2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        text-align: center;
        padding-left: 1.5rem;
        padding-top: 2rem;
        width: auto;
        padding-right: 1.5rem;
        padding-bottom: 3rem;
        display: block;
    }
    .section-2 a {
        width: 100%;
    }
    body:hover .section-1, body:hover .section-2 {
        -webkit-animation: none;
        -moz-animation: none;
    }
}